.add-button{
  box-sizing: border-box;
  float: left;
  margin-top: auto;
  margin-left: auto;
}

.bag {
  width: 100px;
  height: 100px;
  background-color:rgba(0,50,100,50%);
  border: black solid 1px;
}

.produit{
position: relative;
box-sizing: border-box;
top: 30px;
left: 30px;
  width: 100px;
  height: 100px;
  border: black solid 1px;
}
